.IndustryMain-Header {
    display: inline-flex;
    text-align: left;
    height: 12vh;
}

.Search-Area {
    display: inline;
    align-items: center;
    justify-content: center;
}

.Industry-Search {
    width: 20pt;
}

.Industry-Button {
    width: 50pt;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 20vmin;
}
