.LocationMain-Header {
    display: inline-flex;
    text-align: left;
    height: 12vh;
}

.Search-Area {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40vmin;
}

.Location-Search {
    width: 100vmin;
}

.Location-Button {
    width: 50vmin;
}

.Buttons {
    display: inline-flex;
    justify-content: center;
    height: 20vmin;
}
